<% if (post['_embedded']['wp:featuredmedia']) { %>
  <div class="hero" style="background-image: url(<%- post['_embedded']['wp:featuredmedia'][0].source_url %>)">
<% } else { %>
	<div class="hero themed">
<% } %>
  </div>