<header id="masthead" data-conditional="true" data-state="is-visible">
	
	<div class="inner masthead-desktop">
		<a href="/"><%- include(site.views + '/icons/logo') %></a>
	</div>

	<div class="inner masthead-mobile">
		<a href="/"><%- include(site.views + '/icons/logo') %></a>
	</div>

</header>