<section class="modal__container" data-state="not-active">
  <article class="modal__content">
    <%- include(site.views + '/atoms/buttons/button-icon-only', {type: 'button', action: 'closeModal()', text: 'Close the modal', icon: 'close-light', theme: 'brand'}) %>
    <%= content %>
  </article>
</section>