<form class="newsletter-signup">
  <label class="input-minimal input-invert">
    Search
    <%- include(site.views + '/atoms/inputs/input-newsletter', {placeholder: 'Enter a search term'}) %>
    <button type="submit" class="button-icon-only-brand">
      <%- include(site.views + '/icons/user-interface/arrow-light') %>
    </button>
  </label>
</form>