<section class="tabbed-section_container">
  <nav class="tabbed-section_nav">
    <ul>
    <% articles.forEach(function(article, index) { %>
      <li>
          <a 
            href="#<%= article.slug %>"
            data-state="<% if (index == 0) { %>is-active<% } %>"
          ><%= article.title %></a>
        </li>
      <% }) %>
    </ul>
  </nav>
  <% articles.forEach(function(article, index) { %>
    <%- include(site.views + '/molecules/game-details/' + article.slug, {index: index, article: article}) %>
  <% }); %>
</section>
