.breadcrumbs_container {
  ul {
    @extend %semantic-list;
    @extend %horizontal-list;
    li {
      @extend %bobby;
      color: $clr_black;
      font-weight: bold;
      text-transform: none;
      a {
        @extend %bobby;
        color: $clr_black;
        font-weight: normal;
        text-decoration: none;
        text-transform: capitalize;
      }
      &:not(:last-of-type) {
        &:after {
          content: ">";
          display: inline-block;
          margin: 0 1rem;
          padding: 0;
          line-height: inherit;
        }
      }
    }
  }
}
