// Local variables
$thumbnail_height: 13.75rem;
$thumbnail_scale: scale3d(0.8, 0.8, 0.8);
$thumbnail_offset: translate3d(0, 100%, 0);

.thumbnail_container {
  @extend %central-column;
  max-width: 84.0625rem;
  font-size: 0;
  @extend %grid;
  @extend %grid_row;
  @extend %grid_wrap;
  @extend %align-stretch;
  @extend %justify-between;
}

.thumbnail {
  display: inline-flex;
  @extend %grid_column;
  @extend %align-stretch;
  @extend %justify-end;
  width: 50%;
  height: $thumbnail_height;
  transition: transform $ease-main $speed-std;
  position: relative;
  @media screen and (min-width: $breakpoint-min) {
    width: 25%;
  }
}

// The content overlay
.thumbnail {
  header {
    position: relative;
    z-index: 1;
    padding: 1rem;
    @media screen and (min-width: $breakpoint-min) {
      padding: 1.5rem;
    }
    width: 100%;
    height: $thumbnail_height;
    @extend %grid;
    @extend %grid_row;
    @extend %grid_wrap;
    @extend %align-end;
    @extend %justify-center;
    background: $clr_gradient-dark;
    opacity: 0;
    transform: $thumbnail_scale;
    transition: opacity $ease-main $speed-std, transform $ease-swoosh $speed-std;
    transition-delay: 0;
    .content {
      flex-grow: 1;
      .title {
        @extend %christopher;
        @include fontSize(16px);
        @include lineHeight(24px);
        color: $clr_white;
        opacity: 0;
        transform: $thumbnail_offset;
        transition: opacity $ease-main $speed-std,
          transform $ease-swoosh $speed-std;
        transition-delay: ($speed-std / 2);
      }

      .description {
        @extend %ralphie;
        @include fontSize(16px);
        @include lineHeight(16px);
        color: $clr_silver;
        opacity: 0;
        transform: $thumbnail_offset;
        transition: opacity $ease-main $speed-std,
          transform $ease-swoosh $speed-std;
        transition-delay: ($speed-std / 2 + 150ms);
      }
    }
    button {
      opacity: 0;
      transform: scale(0);
      transition: opacity $ease-main $speed-std,
        transform $ease-swoosh $speed-std;
      transition-delay: ($speed-std / 2 + 50ms);
    }
  }
}

// The image and flags
.thumbnail {
  .image_wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: $thumbnail_height;
    transform: $thumbnail_scale;
    transition: transform $ease-swoosh $speed-std;
    img {
      width: 100%;
      height: $thumbnail_height;
      object-fit: cover;
    }
    .flag-new {
      position: absolute;
      top: 0.75rem;
      right: 0;
      z-index: 1;
    }
  }
}

// Altered states for the Thumbnails
.thumbnail {
  &[data-state="not-active"] {
    .image_wrapper {
      background-color: $clr_black;
      img {
        opacity: $opacity_disabled-decimal;
      }
    }
  }
  &[data-state="is-active"] {
    .image_wrapper {
      box-shadow: 0 0 0 0.125rem $clr_brand-primary;
      &:after {
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0.5rem 1rem 0 1rem;
        border-color: $clr_brand-primary transparent transparent;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, calc(100% + 0.125rem));
      }
    }
  }
  &:hover {
    .image_wrapper {
      transform: none;
    }
    header,
    header .title,
    header .description,
    button {
      transform: none;
      opacity: 1;
    }
  }
}
