<nav class="admin-sidebar-nav">
  <ul>
    <% items.forEach(function(item, index) { %>
      <li>
        <a 
          href="/<%= item.link %>"
          data-page="<%= site.page.slug %> == <%= item.slug %>"
          data-state="<%if (site.page.slug == item.slug) { %>is-active<% } %>"
        >
          <%= item.text %>
        </a>
      </li>
    <% }); %>
  </ul>
</nav>