<nav class="admin-sidebar-nav">
  <ul>
    <% items.forEach(function(item, index) { %>
      <li>
        <a 
          href="<%= item.link %>"
          data-state="<%if (item.current == true) { %>is-active<% } %>"
        >
          <%= item.text %>
        </a>
      </li>
    <% }); %>
  </ul>
</nav>