<nav>
	<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Primary Nav Link', style: 'primary-nav', restricted: false}) %>
	<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Primary Nav Link (Restricted)', style: 'primary-nav', restricted: true}) %>
	<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Primary Nav Link (Restricted)', style: 'primary-nav', restricted: true}) %>
	<%- include(site.views + '/atoms/link', {link: '/styleguide', text: 'Primary Nav Link (Restricted)', style: 'primary-nav', restricted: true}) %>
</nav>
