<section
  id="<%= article.slug %>" 
  class="tabbed-section_tab" 
  data-state="<% if (index == 0) { %>is-active<% } %>"
>
  <ul class="carousel_container">
    <% article.slides.forEach(function(slide, index) { %>
      <li class="carousel_slide">
        <figure>
          <%- include(site.views + '/atoms/images/image', {url: slide.url, alt: slide.alt}) %>
        <figcaption>
          <%= slide.caption %>
        </figcaption>
        </figure>
      </li>
    <% }); %>
  </ul>
</section>