<section class="tabs_container">
  <nav class="tabs_nav">
    <ul>
      <li class="tabs_nav_item" data-state="is-active" data-target="tab-left">Left</li>
      <li class="tabs_nav_item" data-state="not-active" data-target="tab-middle">Middle</li>
      <li class="tabs_nav_item" data-state="not-active" data-target="tab-right">Right</li>
    </ul>
  </nav>
  <article class="tab" data-state="is-active" data-target="tab-left">
    left tab
  </article>
  <article class="tab" data-state="not-active" data-target="tab-middle">
    middle tab
  </article>
  <article class="tab" data-state="not-active" data-target="tab-right">
    right tab
  </article>
</section>