[class*="-restricted"] {
  cursor: not-allowed;
  &:before {
    content: url("../../views/icons/user-interface/lock.svg");
    display: inline-block;
    width: 9px;
    height: 12px;
    line-height: 1em;
    margin-right: 0.5rem;
  }
}
