<span class="description volatility-casual">Casual</span>
<input
  id="volatilityRangeInput"
  class="volatility-range"
  type="range" 
  min="1"
  max="5"
  step="1"
  tabindex="0"
  data-state="is-pristine" 
  onfocus="dirty(event)"
  onblur="validate(event)"
  <% if (required == true) { %>
    required
  <% } %>
>
<span class="description volatility-aggressive">Aggressive</span>
<div 
  class="input-validation-message"
  <% if (required == true) { %>
    data-message-error-required="<%= message.error.required %>"
  <% } %>
  data-message-error-invalid="<%= message.error.invalid %>"
></div>