<label class="input-toggle" title="<%= input.text %>" aria-label="<%= input.text %>">
  <input tabindex="0" type="checkbox" name="<%= input.name %>">
  <span class="input-toggle-slider"><%= input.text %></span>
  <span class="input-toggle-label">
    <span class="input-toggle-label-yes">
      Yes
    </span>
    <span class="input-toggle-label-no">
      No
    </span>
  </span>
</label>