<textarea
  type="text" 
  placeholder="<%= placeholder %>" 
  maxlength="<%= maxlength %>"
  tabindex="0"
  data-state="is-pristine" 
  onfocus="dirty(event)"
  onblur="validate(event)"
  <% if (required == true) { %>
    required
  <% } %>
></textarea>
<div 
  class="input-validation-message"
  <% if (required == true) { %>
    data-message-error-required="<%= message.error.required %>"
  <% } %>
  data-message-error-invalid="<%= message.error.invalid %>"
></div>