<input
  tabindex="0"
  class="input-none" 
  type="text" 
  placeholder="<%= placeholder %>" 
  value=""
  data-state="is-pristine" 
  onfocus="dirty(event)"
  onblur="validate(event)"
  <% if (required == true) { %>
    required
  <% } %>
>
<div 
  class="input-validation-message"
  <% if (required == true) { %>
    data-message-error-required="<%= message.error.required %>"
  <% } %>
  data-message-error-invalid="<%= message.error.invalid %>"
></div>