<select 
  tabindex="0"
  <% if (required == true) { %>required<% } %>
>
    <option value="" disabled selected hidden><%= text %></option>
    <% options.forEach(function(option, index) { %>
      <option value="<%= option.value %>"><%= option.text %></option>
    <% }); %>
</select>