<span class="description volatility-casual">Casual</span>
<input
  id="volatilityRangeInput"
  class="volatility-range"
  type="range" 
  min="1"
  max="5"
  step="1"
  tabindex="0"
>
<span class="description volatility-aggressive">Aggressive</span>