<label class="input-radio-fancy" title="<%= input.text %>" aria-label="<%= input.text %>">
  <input tabindex="0" type="radio" name="<%= input.name %>">
  <span class="input-radio-icon"></span>
  <span class="input-radio-label">
    <%= input.text %>
  </span>
</label>