.admin {
  form {
    @extend %card;
    @extend %padding;
    font-size: 0;
    @extend %grid;
    @extend %grid_row;
    @extend %grid_wrap;
    @extend %align-start;
    @extend %justify-between;
    fieldset {
      padding: 1rem 0;
      vertical-align: top;
      position: relative;
    }
    label {
      &.input-full-width {
        input,
        textarea,
        select {
          width: 100%;
        }
      }
    }
    .label-title,
    label.label-title {
      @extend %label-title;
      display: block;
      @include lineHeight(32px);
    }
  }
}

.input-validation-message {
  display: none;
  @extend %junior;
  color: $clr_failure;
  padding-top: 0.5rem;
}
