.admin {
  form {
    @extend %card;
    @extend %padding;
    font-size: 0;
    @extend %grid;
    @extend %grid_row;
    @extend %grid_wrap;
    @extend %align-end;
    @extend %justify-between;
    fieldset {
      padding: 1rem 0;
    }
    label {
      &.input-full-width {
        input {
          width: 100%;
        }
      }
    }
    .label-title,
    label.label-title {
      @extend %label-title;
      display: block;
      @include lineHeight(32px);
    }
  }
}

.input-validation-message {
  display: none;
  @extend %junior;
  @include lineHeight(24px);
  color: $clr_failure;
  padding: 0.5rem;
  &:before {
    display: block;
    content: attr(data-message-error-required);
  }
  &:after {
    display: block;
    content: attr(data-message-error-invalid);
  }
}
