.input-radio-fancy {
  display: inline-block;
  font-size: 0;
  @extend %admin-input;
  @extend %border-radius-lozenge;
  position: relative;
  input[type="radio"] {
    position: relative;
    left: -50000px;
    &:checked + .input-radio-icon:after {
      transform: none;
    }
  }
  > .input-radio-icon {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: 1rem;
    display: inline-block;
    vertical-align: middle;
    @extend %border-radius-circle;
    width: 1rem;
    height: 1rem;
    @extend %input-border;
    background: $clr_white;
    &:after {
      content: "";
      display: block;
      @extend %border-radius-circle;
      width: 0.5rem;
      height: 0.5rem;
      line-height: 1rem;
      margin: 0.1875rem; // for some reason?!
      background: $clr_black;
      transform: scale(0);
      transition: transform $ease-swoosh $speed-fast;
    }
  }
  .input-radio-label {
    @extend %label-title;
    display: inline-block;
    margin-left: 0.5rem;
    line-height: 1.25rem;
  }
}
