%input {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
}

%input-standard {
  @extend %input;
  @extend %junior;
}

%input-minimal {
  @extend %input;
  @extend %junior;
  height: 2.5rem;
  padding: 13px 0;
  border-bottom: $border_width-thin solid $clr_boulder;
}

%input-invert {
  @extend %input;
  border-color: $clr_white;
  color: $clr_white;
}

%input-focus {
  @extend %input;
}

%input-required {
  @extend %input;
}

%input-invalid {
  @extend %input;
  border-color: $clr_failure;
}

%input-invisible {
  border: 0;
}

%input-valid {
  @extend %input;
}

.input-standard {
  @extend %input-standard;
}

.input-minimal {
  @extend %input-minimal;
}

.input-invert {
  @extend %input-invert;
}

label.input-minimal {
  input {
    @extend %input-invisible;
  }
}

input {
  &:invalid {
    @extend %input-invalid;
  }
  &:valid {
    @extend %input-valid;
  }
  &:focus {
    @extend %input-focus;
  }

  &[type="submit"],
  &[type="button"],
  &[type="reset"] {
    @extend %button;
  }
}

textarea {
  &.input-standard {
    @extend %input-standard;
  }
  &.input-minimal {
    @extend %input-minimal;
  }
}

select {
  &.input-standard {
    @extend %input-standard;
  }
  &.input-minimal {
    @extend %input-minimal;
  }
}
