%border-radius {
  background-clip: padding-box; // stops bg color from leaking outside the border
}

%border-radius-circle {
  // Just make sure, as I'm sure you will, that width === height or it won't actually be a circle!
  border-radius: 50%;
}

%border-radius-dump {
  // Jazzy little fix for creating a lozenge for an element of unknown size
  border-top-right-radius: 1rem;
}

%border-radius-lozenge {
  // Jazzy little fix for creating a lozenge for an element of unknown size
  border-radius: 500rem;
}

%border-radius-small {
  border-radius: 0.125rem;
}

%border-radius-std {
  border-radius: 0.625rem; // 10px
}

%border-radius-large {
  border-radius: 1rem; // 16px
}
