<a 
  class="link-<%= style %><%if (restricted == true) { %>-restricted<% } %>" 
  href="<%= link %>"
  <%if (restricted == true) { %>
    onClick="event.preventDefault(); requestLogin();"
  <% } %>
>
  <%= text %>
</a>