<form class="search-bar">
  <label>
    Search
    <%- include(site.views + '/atoms/inputs/input-search', {placeholder: 'Enter a search term'}) %>
    <button type="submit" class="button-icon-only icon-search">
      <%- include(site.views + '/icons/user-interface/search-light') %>
    </button>
    
  </label>
</form>