<form class="search-bar">
  <label>
    Search
    <input type="text" placeholder="Enter a search term">
    <button type="submit" class="button-icon-only icon-search">
      <%- include(site.views + '/icons/user-interface/search-light') %>
    </button>
    
  </label>
</form>