<div class="volatility-meter_container">
  <div class="title">Volatility Meter</div>

  <div class="volatility-bar">
    <span class="gradient-bar"></span>
    <div class="is-start dot dot-<%- volatility.toLowerCase().replace(/ /g, '-' ) %>"></div>
  </div>  
  
  <div class="description volatility-<%- volatility.toLowerCase().replace(/ /g, '-' ) %>"><%= volatility %></div>
</div>







