<%- contentFor('hero') %>
<section class="hero grid grid-central section-theme-light">
	<div class="item-6-12">
			<h1 class="page-title">There has been an error</h1>
	</div>
	<hr class="page-divider" />
</section>

	<%- contentFor('body') %>
		<!-- This is left intentionally blank -->
