<%- contentFor('hero') %>
	<div class="hero themed">
		<div class="inner">
			<div class="content">
				<div class="central-column">
					<h1>
						This is a page
					</h1>
				</div>
			</div>
		</div>
	</div>

	<%- contentFor('body') %>
		<!-- This is left intentionally blank -->
