// Grayscale
$clr_black: black;
$clr_gray: gray;
$clr_whitesmoke: whitesmoke;
$clr_white: white;

// Utility
$clr_success: green;
$clr_warning: orange;
$clr_failure: red;

// Brand
$clr_igt-blue: dodgerblue;
$clr_igt-orange: orangered;
$clr_igt-yellow: yellow;

// Shade is for darkening a color
// eg darken($color, $shade-percentage);
$shade-percentage: 20%;
$shade-decimal: 0.2;

// Shade is for lightening a color
// eg lighten($color, $tint-percentage);
$tint-percentage: 20%;
$tint-decimal: 0.2;

$opacity-disabled-percentage: 60%;
$opacity-disabled-decimal: 0.6;
