// @TODO: Remove prior to production
// This is where we apply hideous styles to highlight where we have fucked up with our specificity.
html * {
  background: darkslategray;
  color: yellow;
  // font-family: monospace;
}

// @TODO: Remove prior to production
// Development Redline
html.redline * {
  outline: 1px solid rgba(255, 0, 0, 0.3) !important;
}

// Include all of the things!
@import "config/all"; // Site configuration. Contains variables and reusable code.
@import "atoms/all"; // All of the smallest bits that make up a layout: button, input, etc.
@import "molecules/all"; // Things that are made up of atoms; think a form or a card.
@import "organisms/all"; // Things made up of molecules. We're talking pages, site-header, that sort of thing.
@import "shame/all"; // The seedy underbelly of the internet. You shall never speak of what you see here.

.unused-class {
  background: limegreen;
}
.class-added-by-js {
  outline: 1px solid orange;
}
