[class^="masthead-"] {
  background: $clr_transparent;
  position: fixed;
  top: 0;
  z-index: $z-masthead;
  width: 100%;
  @extend %grid;
  @extend %grid_row;
  @extend %align-center;
  @extend %justify-between;
  padding: 1rem;
  @media screen and (min-width: $breakpoint-min) {
    padding: 1.5rem 3rem;
  }
}

.masthead-mobile {
  @media screen and (min-width: $breakpoint-min) {
    display: none;
  }
}
.masthead-desktop {
  @media screen and (max-width: $breakpoint-max) {
    display: none;
  }
}

.topbar {
  flex-basis: 1;
}

.icon-nav_wrapper {
  button {
    &:not(:last-of-type) {
      margin-right: 0.5rem;
    }
  }
}
