section {
  &[class^="section-theme"] {
    padding-top: 3rem;
    padding-bottom: 6rem;
  }
  &.section-theme-brand {
    @extend %theme-brand;
  }
  &.section-theme-dark {
    @extend %theme-dark;
  }
  &.section-theme-light {
    @extend %theme-light;
  }
  &.section-theme-white {
    @extend %theme-white;
  }
  .section-title {
    @extend %paulie;
    @extend %central-column;
  }
}

.page-title {
  @extend %paulie;
  color: $clr_black;
}

.page-divider {
  border: 0;
  background: $clr_silver;
  width: 100%;
  height: 0.0625rem;
  margin: 2rem 0;
}
