// Layout
html {
  -ms-text-size-adjust: 100%; // Prevents font resizing on Internet Explorer
  -webkit-text-size-adjust: 100%; // Prevents font resizing on Chrome and Safari
  * {
    box-sizing: border-box !important; // Forces padding to be considered part of the width of an element
    -webkit-font-smoothing: antialiased; // Cleans up font appearance on Chrome and Safari
    -moz-osx-font-smoothing: grayscale; // Cleans up font appearance on Firefox
  }
}

body {
  margin: 0; // Remove browser applied margins
  overflow-x: hidden; // Prevent side-scroll
}

main,
section {
  display: block; // To fix IE not understanding these "new" tags
}

// Normalise the typography settings across the site
// Style the highlight selection of web copy
::selection {
  color: white;
  background: black;
}

// Reset headings
h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  padding: 0;
  margin: 0;
}

// Default bold settings
b,
strong {
  font-weight: bold;
}

// Default italic settings
i,
em {
  font-style: italic;
}

p {
  padding: 0;
  margin: 0;
}

// Buttons
button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: none;
  border: 0;
}

// Forms
fieldset {
  border: 0;
}
