// @TODO: Remove prior to production

// @TODO: Remove prior to production
// Development Redline
html.redline * {
  outline: 1px solid rgba(255, 0, 0, 0.3) !important;
}

// @TODO: Remove prior to production
// For testing un-css
.unused-class {
  background: limegreen;
}

// @TODO: Remove prior to production
// For testing un-css
.class-added-by-js {
  outline: 1rem solid limegreen;
}

// @TODO: Remove prior to production
// For styling the styleguide only
// Fingers crossed, that id shouldn't appear anywhere in the site
// but best to be careful
[id^="styleguide-"] {
  background: lightgray;
  position: relative;
  display: block;
  width: 100%;
  padding: 2rem;
  font-size: 0;
  &:before {
    content: attr(data-title);
    font-size: 13px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    padding: 3px;
    background: rgba(0, 0, 0, 0.66);
    font-family: sans-serif;
    color: rgba(255, 255, 255, 0.66);
    text-transform: uppercase;
    opacity: 0.75;
  }
}
